.root {
  max-height: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem !important;
}

.group {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--qui-color-neutral);
}

.group-text {
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--qui-color-neutral);
}

.not-found {
  padding: 0.25rem 0.5rem;
  color: var(--qui-color-neutral);
}
