.root {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: color 100ms ease-in-out;

  &:hover {
    color: var(--oc-red-6);

    :global(body[data-theme="dark"]) & {
      color: var(--oc-red-8);
    }
  }
}
