.root {
  margin: 0;
  font-size: var(--qui-qui-title-font-size);
  line-height: var(--qui-qui-title-line-height);
  font-weight: var(--qui-qui-title-font-weight);
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
