.root {
  width: 100% !important;
  min-height: 6rem !important;
  display: flex;
  align-items: stretch;

  &--disabled {
    background-color:
      inset 0 0 1.5px #f1f3f5,
      inset 0 0 1.5px #adb5bd;

    :global(body[data-theme="dark"]) & {
      box-shadow:
        inset 0 0 1.5px #2c2e33,
        inset 0 0 1.5px #141517;
    }
  }

  & > div {
    width: 100%;
    outline: none;
    padding: 0.5rem 0;
  }
}

.button {
  border-color: var(--qui-color-foreground) !important;
  background-color: var(--qui-color-background) !important;
}
