.root {
  --qui-select-input-color: var(--qui-color-4);

  position: relative;

  :global(body[data-theme="dark"]) & {
    --qui-select-input-color: var(--qui-color-8);
  }
}

.multiple-wrapper {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem;

  .root--open & {
    border-color: var(--qui-color-6);

    :global(body[data-theme="dark"]) & {
      border-color: var(--qui-color-8);
    }
  }
}

.multiple-item {
  background-color: var(--qui-color-foreground);
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  font-size: 0.8rem;
}

.multiple-item-delete-icon {
  width: 0.8rem;
  transition: color 100ms ease-in-out;

  .multiple-item:hover & {
    color: var(--oc-red-6);

    :global(body[data-theme="dark"]) & {
      color: var(--oc-red-8);
    }
  }
}

[data-naked].multiple-input {
  width: 100%;
  margin-right: 1.5rem;
}

.close-icon,
.chevron-icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.chevron-icon {
  .root--open & {
    transform: translateY(-50%) rotate(90deg);
  }
}

.dropdown {
  padding: 0.5rem;
  width: 100%;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: rgb(from var(--qui-color-foreground) r g b / 60%);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgb(from var(--qui-color-text) r g b / 20%);
  backdrop-filter: blur(8px);
  border: 1px solid var(--qui-color-foreground);

  :global(body[data-theme="dark"]) & {
    border-color: var(--qui-color-background);
    box-shadow: 0 4px 6px rgb(from var(--qui-color-foreground) r g b / 50%);
  }
}

[data-naked].option {
  cursor: pointer;
  border-radius: 0.25rem;
  border: solid 1px transparent;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  transition:
    background-color 200ms ease-in-out,
    box-shadow 200ms ease-in-out,
    border-color 200ms ease-in-out;

  &:hover,
  &--current {
    box-shadow:
      -1px 1px 3px 0 rgb(from var(--qui-select-input-color) r g b / 50%),
      -1px 1px 2px -1px rgb(from var(--qui-select-input-color) r g b / 50%);

    border-color: var(--qui-select-input-color);
  }

  &:hover {
    background-color: rgb(from var(--qui-select-input-color) r g b / 20%);
  }

  &--current {
    background-color: rgb(
      from var(--qui-select-input-color) r g b / 50%
    ) !important;
  }
}

.option-description {
  font-size: 0.8rem;
  color: var(--qui-color-neutral);
}

.not-found-text {
  color: var(--qui-color-neutral);
}
