.root {
  width: 100%;
  border-collapse: collapse;

  tr {
    text-align: left;
  }

  td,
  th {
    padding: 1rem;
    border-bottom: 1px solid var(--qui-color-background);
  }

  tbody {
    tr {
      &:hover {
        background-color: var(--qui-color-midground);
      }

      &:last-of-type td {
        border-bottom: none;
      }
    }
  }
}
